<h3>Contador</h3>
<h4>{{ contadorHtmlHijo$ | async }}</h4>
<p>Multiplicador: <input type="number" [(ngModel)]="multiplicador"></p>

<div class="row text-center">
    <div class="col">
        <button class="btn btn-primary" (click)="duplicar()">Duplicar</button>
        <button class="btn btn-primary" (click)="multiplicar()">Multiplicar</button>
        <button class="btn btn-info" (click)="demediar()">Demediar</button>
    </div>
</div>

<hr/>

<div class="row text-center">
    <div class="col">
        <app-nieto></app-nieto>
    </div>
</div>